@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}

body{
    height:100vh;
    background:linear-gradient(135deg,#1f4037,#99f2c8);
    display:flex;
    justify-content:center;
    align-items:center;
}

/* CARD PRINCIPAL */
.card{
    background:white;
    width:420px;
    padding:35px;
    border-radius:25px;
    box-shadow:0 25px 60px rgba(0,0,0,0.2);
    position:relative;
    overflow:hidden;
}

.card::before{
    content:"";
    position:absolute;
    width:150px;
    height:150px;
    background:#00c9a7;
    border-radius:50%;
    top:-50px;
    right:-50px;
    opacity:0.15;
}

h1{
    text-align:center;
    font-weight:700;
    color:#1f4037;
    margin-bottom:5px;
}

.subtitle{
    text-align:center;
    font-size:14px;
    margin-bottom:25px;
    color:#555;
}


form{
    display:flex;
    flex-direction:column;
}

input, select{
    padding:12px;
    margin-bottom:15px;
    border-radius:12px;
    border:1px solid #ddd;
    transition:0.3s;
    font-size:14px;
}

input:focus, select:focus{
    border-color:#00c9a7;
    box-shadow:0 0 10px rgba(0,201,167,0.4);
}

button{
    padding:12px;
    border:none;
    border-radius:12px;
    background:#00c9a7;
    color:white;
    font-weight:600;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#00a78b;
    transform:translateY(-3px);
}


.resultado{
    margin-top:15px;
    padding:15px;
    border-radius:15px;
    font-weight:500;
    background:#f5f5f5;
    text-align:center;
    transition:0.4s;
}


.nivel-sin{
    border-left:6px solid #7f8c8d;
}

.nivel-bajo{
    border-left:6px solid #3498db;
}

.nivel-medio{
    border-left:6px solid #2ecc71;
}

.nivel-alto{
    border-left:6px solid #e74c3c;
}